## Read Inventory

In [18]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [19]:
records

{'201': {'Name': 'Banana cake', 'Unit_price': 150, 'Instock': 12},
 '202': {'Name': 'Chocolate cake', 'Unit_price': 200, 'Instock': 18},
 '203': {'Name': 'Carrot cake', 'Unit_price': 100, 'Instock': 14},
 '204': {'Name': 'Lemon cake', 'Unit_price': 180, 'Instock': 11},
 '205': {'Name': 'Vanilla cakes', 'Unit_price': 130, 'Instock': 8},
 '206': {'Name': 'almond cake', 'Unit_price': 110, 'Instock': 1},
 '207': {'Name': 'Raspberry cake', 'Unit_price': 156, 'Instock': 4},
 '208': {'Name': 'Walnut cake', 'Unit_price': 157, 'Instock': 7},
 '209': {'Name': 'Orange cake', 'Unit_price': 189, 'Instock': 19},
 '2010': {'Name': 'Blueberry cake', 'Unit_price': 190, 'Instock': 23},
 '2011': {'Name': 'Cheese cake', 'Unit_price': 200, 'Instock': 16},
 '2012': {'Name': 'Apple cake', 'Unit_price': 378, 'Instock': 15},
 '2013': {'Name': 'Strawberry cake', 'Unit_price': 389, 'Instock': 22},
 '2014': {'Name': 'Marble cake', 'Unit_price': 245, 'Instock': 12},
 '2015': {'Name': 'Cinnamon tea cake', 'Unit_price': 145, 'Instock': 13},
 '2016': {'Name': 'Layered rainbow cake', 'Unit_price': 150, 'Instock': 18},
 '2017': {'Name': 'Black forest cake', 'Unit_price': 400, 'Instock': 42},
 '2018': {'Name': 'Jennys coffee cake', 'Unit_price': 500, 'Instock': 39},
 '2019': {'Name': 'Hummingbird cake', 'Unit_price': 675, 'Instock': 12},
 '2020': {'Name': 'Chocolate mud cake', 'Unit_price': 456, 'Instock': 12},
 '2021': {'Name': 'Red velvet cupcakes', 'Unit_price': 50, 'Instock': 50},
 '2022': {'Name': 'yoghurt cake', 'Unit_price': 345, 'Instock': 12},
 '2023': {'Name': 'Honey cake', 'Unit_price': 130, 'Instock': 38},
 '2024': {'Name': 'Fruitcake', 'Unit_price': 150, 'Instock': 12},
 '2025': {'Name': 'pineapple cake', 'Unit_price': 400, 'Instock': 56},
 '2026': {'Name': 'cheese cupcake', 'Unit_price': 677, 'Instock': 45},
 '2027': {'Name': 'Funfetti cake', 'Unit_price': 300, 'Instock': 34},
 '2029': {'Name': 'Coffee Cake', 'Unit_price': 458, 'Instock': 1},
 '2030': {'Name': 'blackberry Cake', 'Unit_price': 574, 'Instock': 2},
 '2031': {'Name': 'mango cake',
  'Unit_price': 329,
  'Instock': 34,
  'unit_price': 277}}

## Purchase

In [26]:
prod_id  = str(input("Enter the product_Id: "))
quantity  =  int(input("Enter the quantity: "))

if prod_id in records.keys():
    if (records[prod_id]['Instock'] >= quantity ):
        print("Product Name: ", records[prod_id]['Name'])
        print("Price : ", records[prod_id]['Unit_price'])
        print("Billing Amount: ", records[prod_id]['Unit_price'] * quantity)
        records[prod_id]['Instock'] = records[prod_id]['Unit_price'] -quantity
    else:
        print("Don't have that much quantity")
else:
    print("please enter a valid product id")

Enter the product_Id: 2031
Enter the quantity: 6
Product Name:  mango cake
Price :  329
Billing Amount:  1974

## Update Inventory after purchase

In [27]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

## Sales JSON

In [33]:
{'product' : prod_id, 'quantity' : quantity, 'amount': records[prod_id]['Unit_price'] * quantity}

{'product': '2031', 'quantity': 6, 'amount': 1974}

In [34]:
sale = json.dumps(sales)

In [35]:

fd = open('sales.json','w')
fd.write(sale)
fd.close()